@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header CSS */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #eeeeee;
}
  
.logo {
    margin-right: auto;
    height: 86px;
    width: 159px;
}
  
.nav__links {
    list-style: none;
    display: flex;
}
  
.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #202020;
    text-decoration: none;
}
  
.nav__links li {
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    color: #779886;
}
  
.cta {
    margin-left: 20px;
    padding: 9px 25px;
    color: #fff;
    background-color: #779886;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.cta:hover {
    background-color: #bdd6c1;
}

/* Form CSS */

.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    background: #eeeeee;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(119, 152, 134, 1);
}

.form-wrapper .form-title h1 {
    color: #47525E;
    text-decoration: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

.contant-form {
    display: inline;
}

.input-boxes {
    display: inline;
    margin-right: 4%;
}

.message {
    display: inline;
}

.input-boxes, .message {
    width: 48%;
}

.input-boxes .input, .message textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #47525E;
    padding: 10px;
    color: black;
    width: 100%;
}

.message textarea {
    height: 215px;
}

.message button {
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

/* Footer Styling */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #47525E;
    padding: 20px;
    margin-right: auto;
}

.socials {
    font-size: 30px;
    padding: 20px;
}

.socials a {
    color: #47525E;
    text-decoration: none;
    margin: 0 10px 0 10px;
    transition: 400ms ease;
}

.socials a:hover {
    transition: 400ms ease;
    color: #eee;
}

/* General Stlying */

body {
    background-image: linear-gradient(to bottom, #eeeeee 65%, #bdd6c1);
    background-repeat: none;
    height: 100vh;
}

.main {
    min-height: 100vh;  
}