h1{
    color: #779886;
    text-align: center;
    font-size: x-large;
}
h2{
    color: #47525e;
    text-align: center;
    font-size: x-large;
}
h3{
    color: #47525e ;
    text-align: center;
    font-size: x-large;
}
p{
    color: #779886;
    text-align: center;
    font-size: x-large;
}